* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* Menu */
.nav-container{
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    width: 90%;
    margin: auto;
    
}
.logo img{
    width: 20%;
}
.logo i {
    font-size: 30px;
}
.nav-bar ul {
    list-style: none;
    display: flex;
}
ul li{
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #1565c0;
}
.nav-bar ul li:hover{
    background: #1565c0;
    padding: 1rem;
    cursor: pointer;
    color: cornsilk;
    border-radius: 7px;
}
/* container-banner */
.container-banner {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    color: #1565c0;
    margin-top: 5px;
}
.container-banner p {
    padding: 10px;
    font-size: 18px;
}    
.container-banner img{
    width: 580px;
    height: 460px;
    padding: 40px;
}.button{
    padding: 17px;
}
.container-banner input{
    padding: 10px;
    outline: none;
    color:  #1565c0;
    font-size: 17px;
    text-align: center;
    border: none;
    border-bottom: 1px solid  #969faa;
}
.container-banner input:focus{
    border-bottom: 2px solid #1565c0 ;
}
.container-banner ::placeholder{
    color: rgb(183, 215, 243);
}
/* container */
.container{
    width: 50%;
    margin: auto;
    border-radius: 7px;
    padding: 3rem;
    
}
/* title */
.container .display-question #title{
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

/* cards */
.container .card, 
.form-card{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
    padding: 4rem;
    border-top: 5px solid #1565c0;
    margin-bottom: 1rem;
}
.mgt {
    margin-top: 0.5rem;
}

.container .card h2{
    padding: 5px; 
}

.card .option{
    float: right;
    
    text-align: center;
    display: flex;
    gap: 1rem;
}
.card .option i{
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}
.card .option #edit{
    color: #1565c0;
}
.card .option #delete{
    color: red;
}

/* button */
.btn{
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    padding: 7px;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    background: #1565c0;
    color: white;
}
#add{
    display: none;
}
.btn:hover{
    transition: 0.3s;
    color: black;
    background: #eee;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.button #create-btn:hover{
    transition: 0.3s;
    color: black;
    background: #eee;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.button #cancel-btn:hover{
    transition: 0.3s;
    color: black;
    background: #eee;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
/* add question */

.question-score {
    width: 90%;
    box-sizing: border-box;
    margin: auto;
}

#question {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 80%;
}
.score {
    padding: 3px;
    outline: none;
    float: right;
    width: 50px;
    
}
.answers {
    width: 90%;
    margin: auto;
}
.input-group {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    
}
#correct-answer{
    font-size: 15px;
}
.button #create-btn{
    float: right;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 7px;
    border-radius: 10px;
    background: #1565c0;
    font-size: 1rem;
    border: none;
}
.button #cancel-btn{
    background: red;
    float: right;
    color: white;
    font-weight: bold;
    width: 100px;
    padding: 7px;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    margin-right: 1rem;
}

.an{
    display: flex;
    margin-bottom: 1rem;
}

#correct-answer {
    outline: none;
    width: 90px;
    text-align: center;
}

.description-card {
    padding: 50px;
    border-top: 5px solid #1565c0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 30px;
}
.description {
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    width: 90%;
    margin-top: 20px;
}

.myscore {
    font-size: 1rem;
    float: right;
}
.form-group{
    margin-top: 1rem;
}

